{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./frontend/tailwind.config.js",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80
}
