/* .match-card {
  display: flex;
  flex-wrap: wrap;
} */

/* .matchup-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} */

.status-pending {
  background-color: red;
}
