.room-id-disabled::after {
  content: '⚠️ You must enter a Custom Room ID';
}

.max-rank-disabled::after {
  content: '⚠️ Max rank must be equal to or higher than min rank';
}

.disabled:hover::after {
  display: block;
}
