/* .footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #0f172a;
  color: #d1d5db;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  border-top: 1px solid #334155;
  margin-top: 2rem;
}
.footer-text a {
  color: #60a5fa;
  text-decoration: none;
}
.footer-text a:hover {
  text-decoration: underline;
} */
