.neon-button {
  font-family: sans-serif, 'Press Start 2P', cursive;
  position: relative;
  z-index: 10;
  isolation: isolate;
}

.neon-button::before {
  content: '';
  position: absolute;
  inset: -6px;
  border-radius: 8px;
  filter: blur(14px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  pointer-events: none;
}

.neon-button:hover::before {
  opacity: 0.7;
}

.join-match-disabled {
  cursor: not-allowed;
  position: relative;
}

.join-match-disabled::after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
  border: 1px solid yellow;
  box-shadow: 0 0 6px yellow;
}

.char-rank-disabled::after {
  content: '⚠️ You do not meet the Character or Rank requirements for this match';
}

.match-disabled::after {
  content: '⚠️ You already have an open match';
}

.join-match-disabled:hover::after {
  opacity: 1;
}
