body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  height: 100%;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

.arcade-glow {
  font-family: 'Press Start 2P', cursive;
  font-size: 24px;
  letter-spacing: 2px;
  color: transparent;
  background-color: #242424;

  -webkit-text-stroke: 1px white;

  text-shadow: 0 0 4px #8f00ff, 0 0 8px #8f00ff, 0 0 16px #8f00ff,
    0 0 24px #8f00ff;
}

.arcade-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(to bottom, #8f00ff, #5e00aa);
  border: 2px solid #d1a3ff;
  border-radius: 6px;
  color: white;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 16px;
  text-shadow: 1px 1px 2px #000;
  box-shadow: inset 0 1px 0 #ffffff88, 0 0 6px #8f00ff, 0 0 12px #8f00ff,
    0 0 24px #8f00ff;

  position: relative;
  transition: box-shadow 0.2s ease;
}

.arcade-button:hover {
  box-shadow: inset 0 1px 0 #ffffffaa, 0 0 8px #8f00ff, 0 0 16px #8f00ff,
    0 0 32px #8f00ff;
  cursor: pointer;
}

@media (max-width: 480px) {
  .arcade-glow {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .arcade-button {
    padding: 8px 14px;
    font-size: 14px;
    gap: 6px;
  }
}
